@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transition-transform {
  transition: transform .3s ease-in-out;
}

.slick-dots {
  bottom: 15px!important;
}